$theme-colors: (
  "primary": #222c5e,
  "primary-accent": #045a85,
  "secondary": #65166d,
  "secondary-accent": #862f92,
  "dark": #231f20,
  "dark-dim": #a8a9ad,
  "danger": #ed2f37,
  "green": #49b748,
);

@font-face {
  font-family: "Proxima-Bold";
  src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Semibold";
  src: url("../fonts/Proxima-Nova-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Regular";
  src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Proxima-Extrabold";
  src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
}

$primary: #0F1945;
$primary-accent: #045a85;
$secondary: #65166d;
$secondary-accent: #862f92;
$dark: #231f20;
$dark-dim: #a8a9ad;
$danger: #ed2f37;
$green: #49b748;

//fonts
$proxima-extrabold:"Proxima-Extrabold";
$proxima-bold:"Proxima-Bold";
$proxima-semibold:"Proxima-Semibold";
$proxima-regular:"Proxima-Regular";
$roboto: 'Roboto', sans-serif;
$poppins: "Poppins", sans-serif;

$btn-border-radius: 6px;
$btn-border-width: 0;
$btn-padding-y: .875rem;
$btn-padding-x: 3rem;
$input-height: 3.75rem;
$input-border-radius: 0;
$accordion-padding-x: 0;
$accordion-padding-y: 20px;
$accordion-bg: transparent;
$accordion-button-active-bg: transparent !important;
$accordion-button-focus-border-color: transparent !important;
$accordion-button-focus-box-shadow: none !important;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "base/base";
@import "base/header";
@import "base/footer";
@import "pages/index";
@import "pages/blogs";
@import "pages/contact-us";
@import "pages/about";
