// Poppins Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
//Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
//mixins
@mixin transition {
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@mixin transition-2 {
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@mixin display1 {
  font-family: $proxima-extrabold;
  color: $primary;
  font-size: 4rem;
}
@mixin display2 {
  font-family: $proxima-extrabold;
  color: $primary;
  font-size: 3.25rem;
}
//global
a {
  @include transition();
  text-decoration: none;
}
html {
  @media (min-width: 300px) and (max-width: 1400px) {
    font-size: smaller;
  }
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $proxima-bold;
  font-weight: 700;
  color: $primary;
}
//font-sizes
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.5rem;
  font-family: $proxima-extrabold;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.125rem;
}
p {
  color: #65656d;
  font-size: 18px;
}
//text-color
.text-white {
  color: #fff;
}
.text-primary {
  color: $primary;
}
.text-dark {
  color: #031629;
}
.p-text {
  color: #65656d;
}
#return-to-top {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 2%;
  background: $primary;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top svg {
  fill: #ffffff;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  font-size: 1.875rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    margin-top: -6px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}
.page-not-found {
  padding: 80px 0;
  .text-content {
    & > span {
      font-size: 1.25rem;
      color: #000000;
      letter-spacing: 0.28em;
      display: block;
      margin-bottom: 12px;
    }
    h2 {
      font-size: 3.125rem !important;
      font-weight: 900;
      margin-bottom: 20px;
      span {
        color: $danger;
      }
    }
    p {
      font-size: 1.125rem;
      font-weight: 400;
      margin-bottom: 40px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 1.25rem;
      color: #333333;
      svg {
        margin-right: 6px;
      }
      span {
        margin-left: 4px;
        font-weight: bold;
        color: $primary;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//accordion
.accordion-item {
  border: none;
  margin-bottom: 20px;
  .accordion-header {
    position: relative;
    padding: 14px 20px;
    border: 1px solid #c7c7c7;
    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }
    .accordion-button {
      &::after {
        content: "\f068";
        font-family: "Font Awesome 5 Free";
        background: none;
      }
      &.collapsed {
        &::after {
          content: "\f067";
        }
      }
    }
    button {
      padding: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .accordion-body {
    padding: 20px;
  }
}
//carousel
.owl-carousel {
  padding: 20px;
  .owl-nav {
    .owl-next {
      position: absolute;
      right: 40px;
      z-index: 1;
    }
    .owl-prev {
      position: absolute;
      right: 110px;
    }
    button {
      top: -27%;
      &:hover {
        background: none;
      }
    }
    @media (max-width: 767px) {
      button {
        top: -16%;
      }
      .owl-next {
        right: 39%;
      }
      .owl-prev {
        right: 50%;
      }
    }
    @media (max-width: 767px) {
      button {
        top: -9%;
      }
    }
  }
}

.form-group {
  margin-bottom: 20px;
  label {
    color: #231f20;
    font-size: 1.125rem;
    font-family: $proxima-bold;
    margin-bottom: 6px;
  }
  .input-group {
    position: relative;
    background: #f1f3f9;
    .form-control {
      height: 58px;
      background: #f1f3f9;
      border: 1px solid #e8f3f9;
      padding: 0 48px;
      &:focus {
        border-color: #bc9664;
        outline: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
          0 0 8px rgba(100, 75, 21, 0.5);
      }
    }
    textarea {
      min-height: 200px;
    }
    .form-control[readonly] {
      background-color: transparent !important;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 12px;
      z-index: 11;
      transform: translateY(-50%);
    }
    .select2-container {
      .select2-selection {
        height: 52px !important;
        border-radius: 0 !important;
        border: 1px solid #bc9664 !important;
        .select2-selection__rendered {
          line-height: 52px !important;
          padding-left: 48px !important;
        }
        .select2-selection__arrow {
          height: 52px !important;
        }
      }
    }
    @media (max-width: 767px) {
      .select2-container {
        width: 100%;
      }
    }
  }
  .text-area {
    textarea {
      border: 1px solid #bc9664;
      width: 100%;
      padding: 16px;
      &:focus-visible {
        border-color: #bc9664;
        outline: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1),
          0 0 8px rgba(100, 75, 21, 0.5);
      }
    }
  }
}

//select2 dropdown
.select2-dropdown {
  padding: 0.5rem;
  input {
    margin-bottom: 1rem;
    &:focus-visible {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  .select2-results__option--highlighted.select2-results__option--selectable {
    background: $primary !important;
  }
}
#pre-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 100vh;
  overflow: hidden;
  text-align: center;
  z-index: 1111111111;
}
//buttons
.btn-success {
  background-color: $green;
  color: white;
  font-weight: 500;
}
.welcome-banner {
  background-color: rgb(150, 146, 146);
  height: 700px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .text-content {
    position: relative;
    span {
      @include display2();
      color: white;
      text-transform: uppercase;
    }
    p {
      margin-top: 28px;
      margin-bottom: 20px;
    }
    h6 {
      margin-bottom: 40px;
    }
    .btn {
      &:hover {
        color: rgb(204, 198, 198);
      }
    }
  }
}
.blog-card-wrapper {
  margin-bottom: 30px;
  .blog-card {
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(18, 17, 39, 0.05);
    padding: 17px 25px;
    h6 {
      font-size: 1.375rem;
    }
    p {
      font-size: 1rem;
      margin: 30px 0;
    }
    div {
      a {
        text-decoration: underline;
      }
      span {
        font-size: 0.875rem;
        color: #a8a9ad;
      }
    }
  }
}
.feature-card-wrapper {
  .feature-card {
    background: #ffffff;
    border: 1px solid rgba(168, 169, 173, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.03);
    .text-content {
      position: relative;
      padding: 30px 27px;
      min-height: 353px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        color: #58aade;
        text-decoration: underline;
      }
    }
    .count {
      height: 45px;
      width: 45px;
      position: absolute;
      background-color: $green;
      color: #fff;
      border-radius: 50%;
      line-height: 45px;
      text-align: center;
      top: -8%;
      right: 20px;
      font-size: 24px;
      font-family: $proxima-bold;
    }
    .img-div {
      img {
        width: 100%;
        object-fit: cover;
        height: 220px;
      }
    }
  }
}
.review-card-wrapper {
  .review-card {
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 17px;
    font-family: $roboto;
    .info {
      display: flex;
      justify-content: space-between;
      .img-div {
        height: 40px;
        width: 40px;
        background-color: #7b1fa2;
        font-size: 14px;
        border-radius: 50%;
        line-height: 40px;
        color: #fff;
        text-align: center;
        margin-right: 15px;
      }
      .name {
        font-family: $roboto;
        span {
          font-size: 13px;
          color: #808080;
          display: block;
        }
      }
    }
    .text-content {
      p {
        font-size: 13px;
        font-family: $roboto;
      }
    }
    .rating {
      margin-top: 10px;
      margin-bottom: 10px;
      .verified {
        margin-left: 7px;
      }
    }
  }
}
.testimonial-card-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 56px;
    left: -74px;
    background: url("../../assets/img/inverted-comma.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 150px;
  }
  text-align: center;
  .text-content {
    p {
      font-weight: 500;
      color: #031629;
    }
  }
  .name {
    font-size: 1rem;
    color: #031629;
    font-style: italic;
    margin: 32px 0;
  }
}

.notice-wrapper {
  padding: 80px 0;
  background-image: url("../../assets/img/notice-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background: linear-gradient(91.35deg, #f04f7f 0.39%, #802a90 74.56%);
  .text-content {
    span,
    p {
      font-size: 1.5rem;
      font-family: $proxima-semibold;
      color: #fff;
    }
  }
}
.text-content.styled-list {
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #daddea;
      h5 {
        margin-bottom: 0;
        svg {
          margin-right: 23px;
        }
      }
      span {
        font-size: 1.125rem;
        font-weight: 400;
        font-family: $proxima-regular;
        color: #65656d;
      }
    }
  }
}