.footer {
  background-color: $primary;
  color: #ffffff;
  .saturn{
    position: absolute;
    top: 38%;
  }
  .meteor{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-wrapper {
    .main-content {
      padding-top: 107px;
      padding-bottom: 50px;
      h6 {
        color: #fff;
        margin-bottom: 34px;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 10px;
          font-family: $proxima-regular;
          font-size: 18px;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 1.125rem;
            transition: all 0.5s ease;
            &:hover {
              padding-left: 10px;
            }
          }
        }
      }
      .img-div {
        img {
          position: relative;
          left: 50px;
        }
      }
    }
    .lower-footer-wrapper {
      border-top: 1px solid #323a5a;
      padding-bottom: 50px;
      padding-top: 41px;
      span {
        font-size: 0.875rem;
        color: white;
      }
      .social-links-wrapper {
        display: flex;
        justify-content: flex-end;
        li {
          height: 36px;
          width: 36px;
          background-color: white;
          margin-right: 24px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: $primary;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .footer-content {
      text-align: center;
      margin-bottom: 48px;
    }
    .lower-footer-wrapper {
      text-align: left;
      .privacy {
        text-align: left !important;
        margin-top: 24px;
      }
    }
  }
  @media (max-width: 1199px) {
    margin-top: 36px;
    background-color: #df7b37;
    > img {
      display: none;
    }
    .footer-wrapper {
      .main-content {
        padding-top: 40px;
      }
    }
  }
}
