header {
  transition: 0.3s ease;
  background: #ffffff;
  box-shadow: 0px 4px 24px -24px rgba(13, 91, 164, 0.2);
  position: sticky;
  top: 0;
  z-index: 111;
}
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  @include transition();
  .container {
    justify-content: space-between;
    .navbar-brand {
    }
    .navbar-collapse {
      flex-grow: unset;
      transition: all 0.4s ease;
      .navbar-nav {
        .nav-item {
          display: flex;
          align-items: center;
          .nav-link {
            position: relative;
            padding: 12px 15px;
            font-size: 1.125rem;
            font-family: $proxima-bold;
            transition: all 0.4s ease;
            color: $primary;
            &:hover {
              color: $danger;
            }
            &.active {
              color: $danger;
            }
          }
          &.call {
            padding-left: 65px;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            font-family: $proxima-bold;
            a {
              color: $green;
            }
          }
        }
        .dropdown-toggle {
          & ~ .dropdown-menu {
            // top: 72px;
            min-width: 185px;
            padding-top: 0;
            padding-bottom: 0;
            li {
              a {
                padding: 8px 24px;
                font-weight: 500;
                font-size: 1rem;
                &:hover {
                  background: rgba(13, 91, 164, 0.08);
                }
              }
            }
          }
        }
      }
    }
  }
  &.sticky-top {
    z-index: 1000;
    position: fixed;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    @media (max-width: 765px) {
      padding: 0;
    }
    a {
      img {
        height: 40px;
      }
    }
  }
  &.fixed-top {
    position: relative;
  }
  @media (max-width: 1199px) {
    .navbar-collapse {
      background: #ffffff;
      .navbar-nav {
        width: 100%;
        overflow: hidden;
        .nav-item {
          .nav-link {
            text-align: center;
          }
        }
      }
    }
  }
}
