.about {
  &.introduction {
    .text-content {
      padding: 50px 0;
      h4 {
        color: #031629;
        font-family: $proxima-extrabold;
      }
      .heading {
        margin-bottom: 30px;
        position: relative;
        padding-left: 40px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 100%;
          background: linear-gradient(180deg, #f03b7a 0%, #7372c0 100%);
        }
      }
      .btn-wrapper {
        margin-top: 50px;
      }
    }
  }
  &.contact-us {
    .text-content {
      background-color: #122045;
      h2 {
        font-size: 2rem;
        font-family: $proxima-extrabold;
        margin-bottom: 27px;
        color: #fff;
      }
      h5 {
        color: #fff;
        margin-bottom: 48px !important;
      }
    }
  }
  &.team {
    padding: 60px;
    .heading {
      margin-bottom: 94px;
      h2 {
        margin-bottom: 2.25rem;
      }
    }
    .team-card {
      margin-bottom: 90px;
      .text-content {
        .info {
          margin-bottom: 26px;
          span {
            color: #a8a9ad;
            font-size: 0.875rem;
            font-family: $poppins;
            font-weight: 400;
            margin-left: 20px;
          }
        }
        .read-more-btn {
          color: #0693e3;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
