.blog-listings {
  padding: 70px 0;
  .blog-card-wrapper {
    .blog-card {
      padding: 33px 40px;
      h6 {
        font-size: 2rem;
        font-family: $proxima-extrabold;
        color: #031629;
      }
    }
  }
}
