.contact-us {
  &.intro {
    padding: 74px 0;
    text-align: center;
    h2 {
      font-family: $proxima-extrabold;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
    }
  }
  &.map-section {
    iframe {
      width: 100%;
    }
  }
  &.form-section {
    position: relative;
    .vector1 {
      position: absolute;
      top: 0;
      left: 0;
    }
    padding: 80px 0;
    background: hsl(197, 70%, 96%);
    .text-content {
      padding-left: 60px;
      h2 {
        font-family: $proxima-extrabold;
        margin-bottom: 28px;
        background: linear-gradient(91.35deg, #f04f7f 0.39%, #802a90 74.56%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .form-wrapper {
      padding: 37px 34px;
      background: #ffffff;
      box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.03);
      border-radius: 6px;
    }
  }
  &.business-hours {
    padding: 73px 0;
    text-align: center;
    h2 {
      margin-bottom: 30px;
    }
    .info-wrapper {
      margin-top: 40px;
      background: #ffffff;
      box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.25);
      padding:30px 40px;
      ul{
        padding-left: 0;
      }
    }
  }
}
