.home {
  &.intro {
    padding: 80px 0;
    .text-content {
      // padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      h4 {
        margin-bottom: 1.5rem;
      }
    }
  }
  &.blogs {
    padding: 75px 0;
    .heading {
      margin-bottom: 44px;
      h2 {
        color: #031629;
      }
    }
  }
  &.why-us {
    padding: 60px 0;
    .heading {
      margin-bottom: 60px;
      text-align: center;
      h4 {
        color: #0693e3;
      }
      h2 {
        color: #031629;
      }
    }
  }
  &.terms-and-conditions {
    padding: 120px;
    overflow: hidden;
    background-color: #122045;
    .text-content {
      padding-right: 120px;
      h2,
      h6,
      li {
        color: #fff;
      }
      h2 {
        background: linear-gradient(91.35deg, #f04f7f 0.39%, #802a90 74.56%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $proxima-extrabold;
        margin-bottom: 32px;
      }
      h6 {
        margin-bottom: 35px;
      }
      ul {
        margin-bottom: 40px;
        li {
          margin-bottom: px;
        }
      }
    }
    .img-div {
      text-align: right;
      img {
        border-radius: 10px;
      }
    }
    .tc-vector1,
    .tc-vector2,
    .tc-vector3,
    .tc-vector4,
    .tc-vector5,
    .tc-vector6,
    .tc-vector7 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .tc-vector2 {
      right: 0;
      left: 70%;
      top: unset;
      bottom: 0;
    }
    .tc-vector3 {
      top: unset;
      left: unset;
      bottom: 100px;
      right: 0;
    }
    .tc-vector5 {
      left: 46%;
      top: 200px;
    }
    .tc-vector6 {
      top: 40px;
      left: 85%;
    }
    .tc-vector7 {
      left: 90%;
    }
  }
  &.experienced-staff {
    padding: 88px 0;
    .heading {
      text-align: center;
      margin-bottom: 100px;
      h2,
      h5 {
        color: #031629;
      }
      h3 {
        margin-bottom: 30px;
      }
      h5 {
        width: 50%;
        margin: 0 auto;
      }
    }
    
    .reviews {
      margin-top: 120px;
     
      .review-info{
        margin-top: 25px;
        font-family: $roboto;
      }
    }
  }
  &.testimonial{
    .testimonial-card-wrapper{
      padding: 95px 0;
    }
    .owl-carousel{
      .owl-item{
        img{
          width: auto;
          margin-right: 3px;
        }
      }
      .owl-dots{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: flex;
        flex-direction: column;
        .owl-dot{
          span{
            height: 19px;
            width: 19px;
            background:$green;
            opacity: .3;
          }
          &.active{
            span{
              opacity: 1;
             
            }
          }
        }
      }
    }
  }
}