.package-listings {
  padding: 40px 0;
  padding-bottom: 800px;
  background-image: url("../../assets/img/plant-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  .heading {
    margin-bottom: 60px;
    span {
      font-size: 1.25rem;
      color: #bc9664 !important;
      letter-spacing: 8px;
      text-transform: uppercase;
    }
    h2 {
      color: #303030;
      font-size: 7rem !important;
      font-family: $asphaltic;
    }
    p {
      color: #8b8b8b;
      font-size: 1.25rem;
      width: 75%;
      margin: 0 auto;
    }
  }
  .filter-wrapper {
    margin-bottom: 60px;
    .search {
      .input-group {
        .form-control {
          padding-left: 10px;
          font-weight: bold;
        }
        .search-icon {
          position: absolute;
          z-index: 11;
          top: 0;
          right: 0;
          background: $primary;
          height: 100%;
          width: 50px;
          text-align: center;
          line-height: 52px;
          i {
            color: white;
          }
        }
      }
    }
  }
}
.package-detail {
  padding: 40px 0;
  .mb-80 {
    margin-bottom: 80px;
  }
  .heading {
    .text-content {
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
      h2 {
        font-size: 6rem !important;
        font-family: $asphaltic;
        color: #303030;
      }
      span {
        font-size: 1.25rem;
        color: #8b8b8b;
      }
    }
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .btn {
        margin: 0 auto;
        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
      ul {
        li {
          margin-right: 1rem;
        }
      }
    }
  }
  .banner-img {
    margin-top: 46px;
    img {
      width: 100%;
      max-height: 510px;
    }
  }
  .detail-content-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    background: rgba($color: #fcf5ea, $alpha: 0.25);
    .sidebar {
      @media (max-width: 1199px) {
        display: none;
      }
      .content-wrapper {
        position: sticky;
        top: 100px;
        ul {
          list-style: none;
          li {
            position: relative;
            padding-left: 40px;
            margin-bottom: 60px;
            transition: all 0.3s ease;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              background: #000000;
              height: 1px;
              width: 30px;
            }
            a {
              font-size: 1.5rem;
              color: #000;
              font-weight: 500;
            }
            &.active {
              padding-left: 70px;
              &::before {
                background: $primary;
                height: 2px;
                width: 60px;
              }
              a {
                color: $primary;
              }
            }
          }
        }
      }
    }
    .detail-content {
      .heading {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        h2 {
          font-size: 5rem !important;
          font-family: $asphaltic;
          color: #333333;
        }
        span {
          margin-left: 54px;
          font-size: 1.25rem;
          color: #8b8b8b;
        }
      }
      .overview {
        .feature-card {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          .img-div {
            height: 40px;
            width: 40px;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .text-content {
            margin-left: 12px;
            span {
              display: block;
            }
            .title {
              color: #bc9664;
            }
            .value {
              font-size: 1.75rem;
              color: #333333;
              font-weight: bold;
            }
          }
        }
      }
      .list-content {
        ul {
          li {
            font-size: 1.25rem;
            color: #555555;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
.gallery-section {
  padding: 60px 0;
  .heading {
    // margin-bottom: 52px;
    h2 {
      font-size:5rem !important;
      font-family: $asphaltic;
      color: #333333;
    }
  }
  .owl-theme {
    .owl-stage-outer {
      .owl-stage {
        padding: 40px 0;
        .owl-item {
          &:hover {
            z-index: 11;
            .gallery-card-wrapper {
              transform: scale(1.1);
              box-shadow: 0 0px 15px 8px #0000001f;
            }
          }
        }
      }
    }
  }
  .gallery-card-wrapper {
    transition: all 0.3s ease;
    img {
      position: relative;
      max-height: 300px;
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }
}
.more-packages {
  .heading {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      font-size: 5rem !important;
      font-family: $asphaltic;
      color: #333;
    }
  }
}
//for a tag scroll offset
:target:before {
  content: "";
  display: block;
  height: 270px;
}
